# Entornos y dependencias
.venv/
node_modules/

# Caché de Python
__pycache__/
*.py[cod]

# Variables de entorno
.env

# Base de datos local e instancia
instance/*
!instance/.gitkeep
*.db
*.sqlite3

# Migraciones (Se ignora para mantener el repo limpio)
migrations/